<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categorías y Tallas - Administración</title>
    <link rel="stylesheet" href="../../../css/categorias_tallas.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
  <header class="admin-header">
    <h1>Panel de Administración</h1>
    <nav>
      <ul>
       <li><a href="#listProductos">Productos</a></li>
        <li><a href="#listCategorias_Tallas">Categorías y Tallas</a></li>
        <li><a href="#listUsers">Usuarios</a></li>
        <li><a href="#listVentas">Ventas y Métodos de Pago</a></li>
        <li><a href="#perfilAdmin">Mi Perfil</a></li>
        <li><a href="#" id="logoutBtn">Cerrar Sesión</a></li>
      </ul>
    </nav>
  </header>
  <header id="main-navbar"></header>
  <main>
    <div id="categorias-container"></div>
    <div id="tallas-container"></div>
    <div id="tallas-productos-container"></div>
  </main>
</body>
</html>

