@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&family=Shadows+Into+Light&display=swap');
:root {
  --color-black: #000;
  --color-filtro: rgba(0, 0, 0, 0);
  --color-white: #fff;
  --color-primary: #00b0a8;
  --color-accent: #f3c622;
  --color-secondary: #0a3d3c;
  --color-error: #c70000;
  --color-overlay: rgba(0, 0, 0, 0.45);
  --color-contrast: #3096af;
    --color-bg: #f9f9f9;
  --color-danger: #e74c3c;
  --color-success: #2ecc71;
  --color-border: #dcdcdc;
  --color-text: #333;
  --radius: 6px;
  --shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  --font-title: 'Bebas Neue', sans-serif;
  --font-text: 'Urbanist', sans-serif;
  --transition-fast: 0.3s ease;
}



