<div class="body--welcome">

  <section class="welcome">
    <div class="welcome__content">
      <h1 class="welcome__title">
        Bienvenido a <span class="welcome__brand">Urban_Pro</span>
      </h1>
      <p class="welcome__text">Estilo urbano, moderno y auténtico. Encuentra tu flow aquí.</p>
      <p class="welcome__text">¿Ya tienes cuenta?</p>

      <a href="#/login" class="welcome__button btn">Ingresar</a>

      <p class="welcome__text">¿No tienes cuenta?</p>
      <a href="#/registro" class="welcome__button btn">Registrarse</a>
    </div>
  </section>
  <!-- <script type="module" src="/src/Router/router.js"></script> -->

</div>
