<!-- ./html/login.html -->
 <div class="body--login">
   <section class="login__container">
     <div class="form__overlay"></div>
     <a href="#bienvenida" class="btn--back btn">
       <span class="material-symbols-outlined">arrow_left_alt</span>
     </a>
   
     <div class="form__content login__content">
       <h1 class="form__title">Urban<span class="form__brand">_Pro</span></h1>
       <form class="form__group" id="form-login" novalidate>
         <label class="form__label" for="email">Usuario</label>
         <input class="form__input" type="email" id="email" name="email" required />
   
         <label class="form__label" for="password">Contraseña</label>
         <input class="form__input" type="password" id="password" name="password" required />
   
         <button class="login__button btn" type="submit">Ingresar</button>
       </form>
   
       <div class="form__links">
         <a href="#registro" class="form__link">Crear cuenta</a>
       </div>
     </div>
   </section>
 </div>

