<header class="admin-header">
  <h1>Panel de Administración</h1>
  <nav>
    <ul>
      <li><a href="#/admin/productos" id="nav-admin-productos">Productos</a></li>
      <li><a href="#/admin/categorias_tallas" id="nav-admin-categorias">Categorías y Tallas</a></li>
      <li><a href="#/admin/usuarios" id="nav-admin-usuarios">Usuarios</a></li>
      <li><a href="#/admin/ventas" id="nav-admin-ventas">Ventas y Métodos de Pago</a></li>
      <li><a href="#/admin/perfil" id="nav-admin-perfil">Mi Perfil</a></li>
      <li><a href="#" id="logoutBtn">Cerrar Sesión</a></li>
      <li><a href="#/admin/metodos_pago" class="btn-metodos-pago">Gestionar Métodos de Pago</a></li>
    </ul>
  </nav>
</header>
