<!-- Vista Home Cliente - Solo contenido principal -->
<div class="home">
  <!-- Menú lateral con categorías -->
  <aside class="home__sidebar">
    <ul class="home__menu"></ul>
    <button id="filtrarBtn" class="sidebar-filter-btn btn">Filtrar</button>
    <button id="refreshfiltrarBtn" class="sidebar-filter-btn btn">Refrescar</button>

  </aside>
  <!-- Contenido principal con productos -->
  <main id="home-main-content" class="home__main">
    <div id="product-grid" class="product-grid"></div>
  </main>
</div>
